@media(max-width: 920px) {
    .container {
        padding: 40px 28px;
    }
    .product-card {
      
        &__price-title, .product-card__price-txt {
            font-size: 14px;
        }
        &__price-btn {
            width: 268px;
        }
    }


}